.background {
    background-color: #22252C;
    padding-top: 0%;

}

.skills {
    padding: 5% 20%;
    background-color: #313741;
    
}
.spaceb{
    padding-bottom: 6%;
    padding-top: 2%;
}

.head {
    background-image: linear-gradient(to right, #00F29B, #07F7F0);
    /* Define the gradient */
    -webkit-background-clip: text;
    /* Apply background clip to text */
    background-clip: text;
    /* Apply background clip to text */
    color: transparent;
    padding-bottom: 10%;
}

.skill {
    margin-bottom: 10px;
    
}

.skill-bar {
    background-color: black;
    border-radius: 5px;
    height: 10px;
    margin-top: 5px;
}

.skill-level {
    background-color: #00D7BB;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    line-height: 10px;
    text-align: center;
    transition: width 0.5s ease;
    /* Add transition for smooth animation */
}

.skill-div {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    grid-column-gap: 150px;
    
}

.skill-align {
    display: flex;
    justify-content: space-between;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.javascript {
    width: 70%;
}

@media(max-width: 640px) {
    .skills {
        padding: 5% 5%;
        background-color: #313741;
        
    }
    .skill-div {
        color: white;
        display: block;  
    }
    .skill {
        margin-bottom: 8%;
        
    }

}

@media(max-width: 768px) {
    .skills {
        padding: 5% 5%;
        background-color: #313741;
        
    }
    .skill-div {
        color: white;
        display: block;  
    }
    .skill {
        margin-bottom: 8%;
        
    }
  
  
  }

  @media(max-width: 1024px) {
    .skills {
        padding: 5% 5%;
        background-color: #313741;
        
    }
    .skill-div {
        color: white;
        display: block;  
    }
    .skill {
        margin-bottom: 8%;
        
    }
  }

  @media(max-width: 1280px) {
    .skills {
        padding: 5% 5%;
        background-color: #313741;
        
    }
    .skill-div {
        color: white;
        display: block;  
    }
    .skill {
        margin-bottom: 8%;
        
    }
  }