.card{
    background-color: #22252C;
    padding: 6% 0%;
}

.all-cards{
    display: flex;
    justify-content: space-around;
    
    margin: 0% 22%;
}

.div-1{
    background-color: #313741;
    height: 350px;
    width: 33.33%;
}

.div1-style{
    margin: 5% 4%;
}

.h-color{
    color:#05C7AE;
}

.div-2{
    background-color: #05C7AE;
    height: 380px;
    margin-top: -17px;
    width: 33.33%;
}

.color2{
    color:#07463E
}

.div2-style{
    margin: 5% 4%;
}

.div-3{
    background-color: #313741;
    height: 350px;
    width: 33.33%;
}


.div3-style{
    margin: 5% 4%;
}