.background {
    background-color: #22252C;
    margin: 0%;
    padding: 0%;
}

/* .show{
    display: inline;
} */

.about {
    display: flex;
    padding: 10% 20%;
    color: white
}

.cv-btn {
    margin-top: 440px;
    margin-left: 65px;
    background-image: linear-gradient(to left, rgba(42, 224, 216, 0.9), rgba(68, 190, 122, 0.9)), url("/src/image/image.jpg");
    padding: 15px 30px;
}

.left {
    width: 50%;
    padding: 2%;
    margin-top: 10px;
    

}



.right {
    width: 50%;
    padding: 2%;
    margin-top: 0%;
}


.group-container {
    position: relative;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
}

.div1 {
    width: 350px;
    height: 350px;
    
    border: 8px solid #00D7BB;

}

.div2 {
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: -30px;
    width: 400px;
    height: 320px;
}

.gradient-text {
    background-image: linear-gradient(to right, #00F29B, #07F7F0);
    /* Define the gradient */
    -webkit-background-clip: text;
    /* Apply background clip to text */
    background-clip: text;
    /* Apply background clip to text */
    color: transparent;
    /* Set text color to transparent */
}

.span-color {
    color: #00D7BB;
}



/* .border {
    height: 350px;
    width: 2px; 
    border: 1px solid salm;
    background-color: rgb(222, 195, 195);
} */

.top-border {
    height: 2px;
    width: 500px;
    border: 1px solid salm;
    background-color: rgb(222, 195, 195);
    margin-left: 4%;
    /* position:relative */
}

@media(max-width: 640px) {
    .about {
        display: block;
        padding: 10% 10%;
        color: white;
        width: 100%;
        overflow: hidden;
        
    }

    .left {
        width: 100%;
        padding: 4% 0%;
        margin-top: 0px;
        margin-left:10%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    
    
    .cv-btn {
        margin-top: 440px;
        margin-left: 65px;
        background-image: linear-gradient(to left, rgba(42, 224, 216, 0.9), rgba(68, 190, 122, 0.9)), url("/src/image/image.jpg");
        padding: 15px 30px;
        text-align: center;
        margin-right: -200px;
    
    }

    
    .container {
        position: absolute;
        margin-left: 10%;
        padding: 10%;
        width:100%
    }
    

    .group-container {
        position: relative;
        padding-left: 10%;
    }


    .div1 {
        width: 350px;
        height: 350px;
        
        border: 8px solid #00D7BB;
    
    }
    
    .div2 {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: -30px;
        width: 400px;
        height: 320px;
    }
    .right {
        width: 100%;
        padding: 6% 10%;
        margin-top: 0%;
        text-align: justify;
    }
    .about-text{

    }
  
  }

  @media(max-width: 768px) {
    .about {
        display: block;
        padding: 10% 0%;
        color: white;
        width: 100%;
        overflow: hidden;
        
    }

    .left {
        width: 100%;
        padding: 4% 0%;
        margin-top: 0px;
        margin-left:10%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    
    
    .cv-btn {
        margin-top: 440px;
        margin-left: 65px;
        background-image: linear-gradient(to left, rgba(42, 224, 216, 0.9), rgba(68, 190, 122, 0.9)), url("/src/image/image.jpg");
        padding: 15px 30px;
        text-align: center;
        margin-right: -200px;
    
    }

    
    .container {
        position: absolute;
        margin: 0px;
        padding: 0px;
        width:100%
    }
    
    .div1 {
        width: 350px;
        height: 350px;
        
        border: 8px solid #00D7BB;
    
    }
    
    .div2 {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: -30px;
        width: 400px;
        height: 320px;
    }
    .right {
        width: 100%;
        padding: 6% 10%;
        margin-top: 0%;
        text-align: justify;
    }
    .about-text{

    }
  
  
  }

@media(max-width: 1024px){
    .about {
        display: block;
        padding: 10% 10%;
        color: white;
        width: 100%;
        overflow: hidden;
        
    }

    .left {
        width: 100%;
        padding: 4% 10%;
        margin-top: 0px;
        margin-left:10%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    
    
    .cv-btn {
        margin-top: 440px;
        margin-left: 65px;
        background-image: linear-gradient(to left, rgba(42, 224, 216, 0.9), rgba(68, 190, 122, 0.9)), url("/src/image/image.jpg");
        padding: 15px 30px;
        text-align: center;
        margin-right: -200px;
    
    }

    
    .container {
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    
    .div1 {
        width: 350px;
        height: 350px;
        
        border: 8px solid #00D7BB;
    
    }
    
    .div2 {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: -30px;
        width: 400px;
        height: 320px;
    }
    .right {
        width: 100%;
        padding: 6% 10%;
        margin-top: 0%;
        text-align: justify;
    }
    .about-text{

    }
    
}

@media(max-width: 1280px) {
    .about {
        display: block;
        padding: 10% 0%;
        color: white;
        width: 100%;
        overflow: hidden;
        
    }

    .left {
        width: 100%;
        padding: 4% 0%;
        margin-top: 0px;
        margin-left:10%;
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    
    
    .cv-btn {
        margin-top: 440px;
        margin-left: 65px;
        background-image: linear-gradient(to left, rgba(42, 224, 216, 0.9), rgba(68, 190, 122, 0.9)), url("/src/image/image.jpg");
        padding: 15px 30px;
        text-align: center;
        margin-right: -200px;
    
    }

    
    .container {
        position: absolute;
        margin: 0px;
        padding: 0px;
    }
    
    .div1 {
        width: 350px;
        height: 350px;
        
        border: 8px solid #00D7BB;
    
    }
    
    .div2 {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: -30px;
        width: 400px;
        height: 320px;
    }
    .right {
        width: 100%;
        padding: 6% 10%;
        margin-top: 0%;
        text-align: justify;
    }
    .about-text{

    }
    
  }