.footer{
    background-color: #22252C;
    height: 300px;
    
}

.spacing{
    padding: 5% 20% 0% 20%;
}

.footer-menu{
    display: flex;
    justify-content: center;
    color:#02CFB4;
}

.hr-line{
    border-color:#87aea9;
    opacity: 50%;
    
}

.hr-div{
    padding: 4% 0% 0% 0%;
}

.copyright{
    padding: 2% 0%;
    color:#02CFB4;
}